<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="library_includes :: frontend_libraries" />
    <body>

        <div class="container-fluid" style="margin-top: 20px;">

            <a href="/quizcard/create">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Neue Quizkarte</h1>
                        <p class="lead">Hier klicken um neue Fragen zu erstellen</p>
                    </div>
                </div>
            </a>

            <div th:if="${gameStarted}">
                <a href="/game/question">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Quiz starten</h1>
                            <p class="lead">Hier klicken um das Spiel zu beginnen</p>
                        </div>
                    </div>
                </a>
            </div>
            <div th:if="${!gameStarted}">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4" style="color: grey;">Quiz starten</h1>
                        <p class="lead">Das Spiel wurde noch nicht aktiviert</p>
                    </div>
                </div>
            </div>

            <div th:if="${isAdmin}">
                <a href="/category">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Kategorien</h1>
                            <p class="lead">Hier klicken um Kategorien zu bearbeiten</p>
                        </div>
                    </div>
                </a>
                <a href="/quizcard/edit">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Quizkarten</h1>
                            <p class="lead">Hier klicken um Quizkarten zu bearbeiten</p>
                        </div>
                    </div>
                </a>
                <div th:if="${gameStarted}">
                    <a href="/stop-game">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Spiel stoppen</h1>
                                <p class="lead">Hier klicken um den Spielmodus zu beenden</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div th:if="${!gameStarted}">
                    <a href="/start-game">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Spiel starten</h1>
                                <p class="lead">Hier klicken um den Spielmodus zu aktivieren</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Footer -->
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
                <ul class="navbar-nav mr-auto">
                </ul>

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="light-grey-color" th:text="${build_artifact}" />
                        <img class="goblin-logo-small" height="20px" th:src="@{/images/goblin_shadow_cropped.png}" />
                        <a class="light-grey-color" th:text="${build_version}" />
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                </ul>
            </nav>
        </div>
    </body>
</html>